<div class="vh-100 d-flex flex-column">
    <app-navbar></app-navbar>

    <div class="container flex-grow-1 pt-nav">

        <div class="row h-100 align-items-center pt-1">
            <div class="col-12 col-lg-6">
                <div class="text-center">
                    <img class="mb-2" src="../assets/logo.png" alt="logo" width="100" height="100">
                </div>
                <h1 class="text-center text-primary"><b>Link-Leb</b></h1>
                <h6 class="text-center ">The platform that links Lebanon</h6>
                <p class="text-justify ">
                    A centralised platform that keeps track of the population’s needs and helps coordinate the work of NGOs to support the largest number of people in need.</p>
            </div>

            <div class="col-12 col-lg-5 offset-lg-1">
                <app-login-card></app-login-card>

            </div>

        </div>

    </div>

</div>