<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title>
            <span class="mat-title-2">ID: </span>
        </mat-card-title>
        <div *ngIf="bookmarked; then thenBlock else elseBlock"></div>
        <ng-template #elseBlock>
            <button mat-raised-button color="primary" (click)="bookmarkRequest()">
                <fa-icon [icon]="bookrmarkIcon"></fa-icon>
                <span class="mat-h3" fxHide.lt-md> Bookmark</span>
            </button>
        </ng-template>
        <ng-template #thenBlock>
            <button mat-stroked-button color="primary" (click)="unbookmarkRequest()">
                <fa-icon [icon]="bookrmarkIcon"></fa-icon>
                <span class="mat-h3" fxHide.lt-md> Bookmarked</span>
            </button>
        </ng-template>
    </div>
    <mat-card-content fxLayout="column">
        <span class="mat-subheading-2">First Name:</span>
        <span class="mat-subheading-2">Last Name:</span>
        <span class="mat-subheading-2">Mother's Name:</span>
        <span class="mat-subheading-2">Father's Name:</span>
        <span class="mat-subheading-2">Gender:</span>
        <span class="mat-subheading-2">Date Of Birth:</span>
        <span class="mat-subheading-2">Phone Number:</span>
        <span class="mat-subheading-2">Area:</span>
        <span class="mat-subheading-2">Address:</span>
        <span class="mat-subheading-2">Needs:</span>
        <span class="mat-subheading-2">Needs Comments:</span>
    </mat-card-content>
</mat-card>