<app-navbar>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
        <div fxFlex>
            <h2 class="mat-display-1 color-primary">Link-Leb Parteners</h2>
            <mat-grid-list cols="1" rowHeight="200px">
                <mat-grid-tile>
                    <img src="../assets/ngo1.png">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../assets/ngo2.png">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../assets/ngo3.png">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../assets/ngo4.png">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../assets/ngo5.png">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../assets/ngo6.png">
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</app-navbar>