.view {
    background-image: linear-gradient(black, black), url('assets/background.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: saturation;
}

.mask {
    background: linear-gradient(rgba(174, 30, 30, 0.8) 40%, rgba(174, 30, 30, 0.9));
    position: fixed;
}

@media (min-width: 992px) {
    .mask {
        clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);
    }
}