:root {
    --border-radius: 0.5rem;
    --primary: #ad1e1e;
}

.text-primary {
    color: var(--primary) !important;
}

.text-stroke {
    -webkit-text-stroke: 0.1rem #707070;
}

.card {
    border-radius: var(--border-radius) !important;
}

.btn {
    border-radius: var(--border-radius);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.border-primary {
    border-color: var(--primary) !important;
}

.btn-xl {
    height: 4rem;
}

input,
select,
textarea {
    border-radius: var(--border-radius) !important;
}