<app-navbar>
    <div class="container" fxLayout="column" fxLayoutGap="10px">
        <div fxFlex>
            <h2 class="mat-display-1 color-primary">Link-Leb Story</h2>
            <p class="text-center">In view of the socio-economic situation that Lebanon is going through NGOs are working hard to meet the needs of the most deprived as much as possible. But the organization is complicated by the decentralized work and the lack of communication
                between NGOs. We decided to create a centralised platform that keeps track of the population’s needs and helps coordinate the work of NGOs to support the largest number of people in need.
            </p>
        </div>

        <div fxFlex>
            <mat-card>
                <blockquote>
                    <p>“A kind gesture can reach a wound that only compassion can heal.”</p>
                    <footer>--- Steve Maraboli,
                        <cite>Life, the Truth, and Being Free</cite>
                    </footer>
                </blockquote>
            </mat-card>
        </div>

        <div fxFlex>
            <h2 class="mat-display-1 color-primary">Link-Leb Team</h2>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2 class="color-primary">Rola Hadi</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2 class="color-primary">Carl Rizk</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2 class="color-primary">Carine Ismail</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</app-navbar>