.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    position: fixed;
    top: 0;
    width: 50vw;

    a {
      span {
        margin-left: 10px;
      }
    }
  }
}
