<div class="vh-100 d-flex flex-column ">

    <app-navbar></app-navbar>

    <div class="container flex-grow-1 pt-nav">

        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h2 class="text-center text-primary">Link-Leb Partners</h2>
                <div class="list-group list-group-flush text-center">
                    <a href="#" class="list-group-item list-group-item-action"><img src="../assets/ngo1.png"></a>
                    <a href="#" class="list-group-item list-group-item-action"><img src="../assets/ngo2.png"></a>
                    <a href="#" class="list-group-item list-group-item-action"><img src="../assets/ngo3.png"></a>
                    <a href="#" class="list-group-item list-group-item-action"><img src="../assets/ngo4.png"></a>
                    <a href="#" class="list-group-item list-group-item-action"><img src="../assets/ngo5.png"></a>
                    <a href="#" class="list-group-item list-group-item-action"><img src="../assets/ngo6.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>