<div fxFill class="background-image color-light">
  <div fxFill class="mask" fxLayout="column" fxLayoutAlign="center">

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="90" fxLayoutGap="10px" fxFlexOffset="5" fxFlex.gt-sm="45" fxFlexOffset.gt-sm="2" >

        <div fxLayout="column" fxLayoutAlign="center center">
          <span class="mat-display-4 bold">Link-Leb</span>
          <span class="mat-title">The platform that links Lebanon</span>
          <span class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit cum fugit quia fuga iure.
            Velit eos exercitationem tenetur neque corrupti modi dicta fugiat, possimus esse
            quisquam rem deserunt, error quos?
          </span>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxFlex="60px">
          <div fxLayout="column" fxFlex>
            <button mat-raised-button fxFlex="100" routerLink="/requestform">
              <span class="mat-title">I Need Help</span>
            </button>
          </div>
          <div fxLayout="column" fxFlex>
            <button mat-raised-button fxFlex="100" routerLink="/login">
              <span class="mat-title">I Give Help</span>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
