<mat-sidenav-container fxFill>

  <mat-toolbar color="primary">

    <button mat-flat-button color="primary" routerLink="/">
      <img src="assets/logo.png" width="50" height="50">
      <span class="mat-h1" fxHide.sm> Link-Leb</span>
    </button>

    <div fxHide.lt-sm>

      <button mat-flat-button color="primary" routerLink="/">
        <fa-icon [icon]="homeIcon" class="mat-h3"></fa-icon>
        <span class="mat-h3" fxHide.lt-md> Home</span>
      </button>

      <button mat-flat-button color="primary" routerLink="/aboutus">
        <fa-icon [icon]="aboutUsIcon" class="mat-h3"></fa-icon>
        <span class="mat-h3" fxHide.lt-md> About Us</span>
      </button>

      <button mat-flat-button color="primary" routerLink="/partners">
        <fa-icon [icon]="partnersIcon" class="mat-h3"></fa-icon>
        <span class="mat-h3" fxHide.lt-md> Partners</span>
      </button>

    </div>

    <span class="spacer"></span>

    <div fxHide.lt-sm>

      <div *ngIf="loggedIn; then loggedInBlock else loggedOutBlock"></div>

      <ng-template #loggedInBlock>

        <button mat-flat-button color="primary" routerLink="/profile">
          <fa-icon [icon]="profileIcon" class="mat-h3"></fa-icon>
          <span class="mat-h3" fxHide.lt-md> Profile</span>
        </button>

        <button mat-flat-button color="primary" routerLink="/requests">
          <fa-icon [icon]="requestsIcon" class="mat-h3"></fa-icon>
          <span class="mat-h3" fxHide.lt-md> Requests</span>
        </button>

        <button mat-flat-button color="primary" (click)="signOutClick()">
          <fa-icon [icon]="signOutIcon" class="mat-h3"></fa-icon>
          <span class="mat-h3" fxHide.lt-md> Sign Out</span>
        </button>

      </ng-template>

      <ng-template #loggedOutBlock>

        <button mat-flat-button color="primary" routerLink="/login">
          <fa-icon [icon]="signInIcon" class="mat-h3"></fa-icon>
          <span class="mat-h3" fxHide.lt-md> Sign In</span>
        </button>

      </ng-template>

    </div>

    <div fxHide.gt-xs>
      <button mat-flat-button color="primary" (click)="sidenav.toggle()">
        <fa-icon [icon]="barsIcon" class="mat-h3"></fa-icon>
      </button>
    </div>
  </mat-toolbar>


  <div class="page-content">
    <ng-content></ng-content>
  </div>

  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item routerLink="/">
        <fa-icon [icon]="homeIcon"></fa-icon>
        <span>Home</span>
      </a>
      <a mat-list-item>
        <fa-icon [icon]="aboutUsIcon" routerLink="/aboutus"></fa-icon>
        <span>About Us</span>
      </a>
      <a mat-list-item>
        <fa-icon [icon]="partnersIcon" routerLink="/partners"></fa-icon>
        <span>Partners</span>
      </a>

      <mat-divider></mat-divider>

      <div *ngIf="loggedIn; then loggedInBlockSideNav else loggedOutBlockSideNav"></div>

      <ng-template #loggedInBlockSideNav>
        <a mat-list-item routerLink="/profile">
          <fa-icon [icon]="profileIcon"></fa-icon>
          <span>Profile </span>
        </a>
        <a mat-list-item routerLink="/requests">
          <fa-icon [icon]="requestsIcon"></fa-icon>
          <span>Requests</span>
        </a>
        <a mat-list-item (click)="signOutClick()">
          <fa-icon [icon]="signOutIcon"></fa-icon>
          <span>Sign Out</span>
        </a>

      </ng-template>

      <ng-template #loggedOutBlockSideNav>

        <a mat-list-item routerLink="/login">
          <fa-icon [icon]="signInIcon"></fa-icon>
          <span>Sign In</span>
        </a>

      </ng-template>

    </mat-nav-list>

  </mat-sidenav>

</mat-sidenav-container>
