.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {

  mat-sidenav {
    position: fixed;
    top: 0;
    width: 50vw;

    a {
      span {
        margin-left: 10px;
      }
    }
  }
}

.page-content {
  margin:10px;
  margin-bottom: 0px;
  height: calc(90% - 10px)
}
