$primary: #ad1e1e;
$border-radius: 0.5rem;

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;

$card-border-radius: $border-radius;
$card-inner-border-radius: $border-radius;

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius;
$input-border-radius-sm: $border-radius;

$navbar-padding-y: 0rem;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

/* For use in src/lib/core/theming/_palette.scss */
$md-linklebtheme: (
    50 : #f5e4e4,
    100 : #e6bcbc,
    200 : #d68f8f,
    300 : #c66262,
    400 : #b94040,
    500 : #ad1e1e,
    600 : #a61a1a,
    700 : #9c1616,
    800 : #931212,
    900 : #830a0a,
    A100 : #ffb3b3,
    A200 : #ff8080,
    A400 : #ff4d4d,
    A700 : #ff3333,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

